<div id="constructor" class="uk-modal">
	<div class="uk-modal-dialog">
		<a class="uk-modal-close uk-close"></a>

		<ul class="uk-tab uk-tab-grid" data-uk-tab="{connect:'#constructor-tab'}">
			<li class="uk-width-small-1-1 uk-active"><a href="#">Конструктор Fix Gear Bicycle</a></li>
		</ul>

		<ul id="constructor-tab" class="uk-switcher uk-margin">
			<li class="uk-active">
				<form class="uk-form">
					<div class="uk-grid" data-uk-margin="{cls:'uk-margin-top'}">
						<div class="uk-width-1-1 uk-text-center">
							<h3>Конструктор в стадии разработки...</h3>
							<p>Должно работать на AngularJS что то похожее на <a href="http://www.fixiestudio.com/" target="_blank">это</a></p>
						</div>
					</div>
				</form>
			</li>
		</ul>
	</div>
</div>
